{% extends 'layout.html' %} {% block content %} {% include
"partials/slider.html" %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to the Book Genre Explorer!</h1>
      <p>
        Discover different genres, get tips on picking your next read, and
        explore reviews and credits. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nunc quis lacus sed metus egestas auctor. Pellentesque
        nulla turpis, condimentum ac enim maximus, venenatis pellentesque magna.
        Nunc ac pellentesque nisl, et facilisis ipsum. In faucibus, turpis sit
        amet sodales vehicula, erat risus rutrum massa, et tempus odio diam id
        magna. Suspendisse a lectus a diam posuere rutrum sit amet sit amet
        libero. Quisque a risus quis elit sollicitudin pharetra. Morbi finibus
        tincidunt lacus ullamcorper egestas. Nunc aliquet erat pretium ante
        sodales consequat. Suspendisse potenti. Ut accumsan tempor arcu, id
        eleifend leo rutrum eget. Fusce imperdiet purus at diam aliquam viverra
        eu at tortor. Pellentesque mattis ac dolor quis malesuada. Vivamus sit
        amet orci vel lacus gravida finibus pulvinar vitae mauris. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </div>
  </div>
  <div class="row">
    {% for card in cards %}
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="{{ card[3] }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ card[0] }}</h5>
          <p class="card-text">{{ card[1] }}</p>
          <a
            href="WG.html#{{ card[0]|lower|replace(' ', '') }}"
            class="btn btn-primary"
            >{{ card[2] }}</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
