{% extends 'layout.html' %} {% block content %}

<style>
  @font-face {
    font-family: "Garamond";
    src: url("/static/fonts/Garamond.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  h1 {
    font-family: "Garamond", sans-serif;
    font-size: 50px;
  }
</style>

<div class="container">
  <div class="row">
    <h1>Reviews And Credits</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <p>
      <strong>Lorem Says:</strong> Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Cras nec imperdiet massa. Suspendisse ultricies nisi in
      posuere sagittis. Morbi nec molestie eros. Cras eu varius nunc. Aenean
      congue ac lorem in porta. Etiam ornare libero ac massa lobortis blandit
      placerat quis est. Cras dui quam, tempus ut libero sit amet, facilisis
      viverra orci. Vestibulum sed congue nunc. Morbi elementum vel mauris at
      porttitor. Cras volutpat eu libero non tincidunt. Donec tincidunt in diam
      quis euismod. Fusce aliquam enim non nisl.
    </p>
  </div>
</div>
{% endblock %}
