{% extends 'layout.html' %} {% block content %}

<style>
  @font-face {
    font-family: "Garamond";
    src: url("/static/fonts/Garamond.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  h1 {
    font-family: "Garamond", sans-serif;
    font-size: 50px;
  }
</style>

<div class="container">
  <div class="row">
    <strong><h1>What are some common/popular genres?</h1></strong>
    <p id="fantasy">
      <strong>Fantasy:</strong> Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nunc molestie leo sapien, ac dignissim dui facilisis et.
      Aenean id luctus eros. Vestibulum molestie eros est, ac elementum ipsum
      tristique a. Donec rutrum sed nunc eget commodo. Nam pellentesque gravida
      massa eu bibendum. Phasellus nec purus risus. Nam at ultricies ipsum.
      Suspendisse et purus elementum, laoreet est ut, sagittis tortor. Phasellus
      rutrum metus tincidunt venenatis congue. Donec congue lobortis mattis.
      Nam.
    </p>
    <img src="static/images/CARDONE.png" style="width: 30%; height: auto" />
    <p id="horror">
      <strong>Horror:</strong> Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nunc molestie leo sapien, ac dignissim dui facilisis et.
      Aenean id luctus eros. Vestibulum molestie eros est, ac elementum ipsum
      tristique a. Donec rutrum sed nunc eget commodo. Nam pellentesque gravida
      massa eu bibendum. Phasellus nec purus risus. Nam at ultricies ipsum.
      Suspendisse et purus elementum, laoreet est ut, sagittis tortor. Phasellus
      rutrum metus tincidunt venenatis congue. Donec congue lobortis mattis.
      Nam.
    </p>
    <img src="static/images/CARDTWO.png" style="width: 30%; height: auto" />
    <p id="sci-fi">
      <strong>Sci-Fi:</strong> Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nunc molestie leo sapien, ac dignissim dui facilisis et.
      Aenean id luctus eros. Vestibulum molestie eros est, ac elementum ipsum
      tristique a. Donec rutrum sed nunc eget commodo. Nam pellentesque gravida
      massa eu bibendum. Phasellus nec purus risus. Nam at ultricies ipsum.
      Suspendisse et purus elementum, laoreet est ut, sagittis tortor. Phasellus
      rutrum metus tincidunt venenatis congue. Donec congue lobortis mattis.
      Nam.
    </p>
    <img src="static/images/CARDTHREE.png" style="width: 30%; height: auto" />
    <p id="historic">
      <strong>Historic:</strong> Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nunc molestie leo sapien, ac dignissim dui facilisis et.
      Aenean id luctus eros. Vestibulum molestie eros est, ac elementum ipsum
      tristique a. Donec rutrum sed nunc eget commodo. Nam pellentesque gravida
      massa eu bibendum. Phasellus nec purus risus. Nam at ultricies ipsum.
      Suspendisse et purus elementum, laoreet est ut, sagittis tortor. Phasellus
      rutrum metus tincidunt venenatis congue. Donec congue lobortis mattis.
      Nam.
      <img src="static/images/CARDFOUR.png" style="width: 29%; height: auto" />
    </p>
  </div>
</div>

{% endblock %}
