{% extends 'layout.html' %}{% block content %}
<div class="container" style="margin-top: 90px">
  <div class="row">
    <h1>Contact us</h1>
    <div class="col-lg-6 col-md-6">
      <ol>
        <li>Phone: 3727 2938</li>
        <li>Email: ipmonster@gmail.com</li>
        <li>Address: 119 Unwins Bridge Road</li>
      </ol>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Jonathan Ip"
        />
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Example textarea</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="d-grid col mx-auto"></div>
        <button
          type="button"
          class="btn btn-primary d-grid gap-2"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Send message
        </button>
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                  Thank you for contacting!
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                sit amet orci mattis, ultrices lacus dictum, suscipit odio.
                Maecenas non ornare augue, at lobortis magna. Ut iaculis
                imperdiet sollicitudin. Quisque rhoncus, tellus at mattis
                blandit, diam risus maximus massa, sit amet interdum leo augue
                non est. Vestibulum ac orci nulla. Fusce eu quam arcu. Sed nibh
                orci, euismod eu tellus a, commodo cursus mauris. Proin et augue
                dui. Cras a scelerisque mauris. In at felis porta, vulputate mi
                a, fringilla leo.
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  onclick="location.reload()"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13241.692409723188!2d151.1699327!3d-33.9302444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b1005d3001fd%3A0x278ee6d6ed9ca086!2sThe%20Fig%20Tree!5e0!3m2!1sen!2sau!4v1750808308248!5m2!1sen!2sau"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
