{% extends 'layout.html' %}{% block content %}
<div class="container" style="margin-top: 90px">
  <div class="row">
    <h1>Why use Google?</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere,
      quam non fermentum sagittis, velit arcu placerat tellus, eget efficitur
      eros nunc nec dui. Ut vel enim in metus blandit iaculis. Nam iaculis, nibh
      in suscipit feugiat, est tortor laoreet augue, in sagittis felis lorem
      aliquam lorem. Aenean ornare odio lorem, nec lobortis risus posuere vitae.
      Suspendisse id blandit neque. Aenean eget vulputate erat, at pharetra
      lacus. In vel mi at orci vestibulum suscipit vitae ut diam. Nulla aliquet
      auctor consectetur. Praesent eu arcu ac sem maximus ultricies. Morbi nibh
      nulla, bibendum quis lacus sit amet, consequat elementum dui. Phasellus in
      commodo risus, eu porta velit. Vestibulum pharetra, metus id euismod
      viverra, sem velit efficitur diam, in porta dui dolor eget lacus. Aliquam
      hendrerit mollis arcu ut fermentum. Sed ac diam ut ligula faucibus
      facilisis et non nulla. Integer semper enim eget purus ullamcorper
      vulputate. Maecenas et risus et mi efficitur ullamcorper sit amet id
      libero. Suspendisse id nibh ligula. Duis sollicitudin elit id dolor
      interdum rhoncus. Quisque fermentum porta ligula, non tempor justo
      fringilla sed. Nulla aliquet sed sem ut cursus. Nulla mollis quam nec nisl
      porta tristique. Aenean et turpis eget metus eleifend faucibus in quis
      dui. Fusce sit amet leo laoreet, gravida risus vel, consequat nisi.
      Aliquam ornare mauris non massa faucibus, sed porttitor augue posuere. Ut
      molestie ut arcu quis convallis. Suspendisse sit amet elit a velit mollis
      accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia curae; Curabitur diam odio, convallis vel placerat
      vulputate, imperdiet id nulla. Donec eget nisi varius, interdum nunc eu,
      sagittis nisl. Duis ornare tellus id pretium efficitur. Vestibulum auctor
      nisl non ultricies malesuada. Mauris porta, eros vitae sollicitudin
      efficitur, orci eros pretium sapien, faucibus aliquet leo erat nec sapien.
      Quisque ultrices eros quis diam hendrerit porta. Maecenas sit amet
      malesuada mauris. Phasellus rutrum tempor varius. Pellentesque malesuada
      efficitur lobortis. Vivamus aliquet convallis malesuada. Cras in
      ullamcorper sem. Vestibulum mollis ante velit, vel pellentesque diam
      eleifend et. Nulla facilisi. Vivamus mattis dapibus diam ut maximus. Sed
      libero dui, consectetur ut libero at, condimentum efficitur lectus. Etiam
      facilisis euismod diam id scelerisque. Aenean non lectus id turpis
      ultricies consectetur. In auctor id arcu ac convallis. Ut nibh diam,
      faucibus vel tincidunt ut, ultrices tincidunt massa. Mauris sit amet
      gravida odio. Aliquam erat volutpat. In sit amet nulla ultricies,
      fringilla dui vitae, laoreet lectus. Nulla sed nisi pellentesque, molestie
      diam et, consequat dolor. Vivamus vel justo at risus aliquet tincidunt.
      Maecenas at mi odio. Cras lobortis sapien neque, id convallis risus
      dignissim ac. In non elit id ipsum tristique ornare id et mauris. Nulla
      facilisi. Sed sed interdum mauris. Morbi eget congue elit. Aenean nec nunc
      ex. Vivamus sed arcu sollicitudin, condimentum eros quis, consectetur
      massa. Vestibulum consectetur vestibulum posuere. Cras imperdiet auctor
      lorem, a commodo libero venenatis quis. Sed tempus placerat ante convallis
      luctus. Nullam convallis turpis vitae ex dapibus, nec tempus ex semper.
      Aliquam erat volutpat.
    </p>
  </div>
  {% endblock %}
</div>
