{% extends 'articlelayout.html' %} {% block content %}
<br />
<div class="container">
  <div class="row">
    <h1>How to get Started</h1>
  </div>
</div>
<div class="hidden-md">{% include 'partials/virustoast.html' %}</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="page" src="static/images/card5.png" />
    </div>

    <div class="col-lg-6 col-md-8 col-sm-12">
      <ol>
        <h3>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          vitae ipsum quis risus auctor malesuada id eu nisi.
        </li>
        <li>
          Fusce sem eros, hendrerit nec auctor ac, lobortis et enim. Nam
          hendrerit diam at lorem iaculis consectetur.
        </li>
        <li>
          Nulla euismod elementum mauris, vitae finibus nisl vulputate et. Sed
          mauris orci, interdum tempus sapien nec, pharetra consectetur mi.
        </li>
        <li>
          Aliquam id dolor auctor turpis rutrum finibus ut nec magna. Etiam
          feugiat id sem nec consectetur.
        </li></h3>
    </div>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      vitae ipsum quis risus auctor malesuada id eu nisi. Fusce sem eros,
      hendrerit nec auctor ac, lobortis et enim. Nam hendrerit diam at lorem
      iaculis consectetur. Nulla euismod elementum mauris, vitae finibus nisl
      vulputate et. Sed mauris orci, interdum tempus sapien nec, pharetra
      consectetur mi. Aliquam id dolor auctor turpis rutrum finibus ut nec
      magna. Etiam feugiat id sem nec consectetur. Integer nulla arcu, placerat
      nec ornare in, congue sed sapien. Sed fringilla, mauris at scelerisque
      tincidunt, lectus libero viverra quam, sit amet eleifend massa justo ac
      tellus. Morbi faucibus arcu ac augue pulvinar, sit amet dignissim risus
      consequat. In a nisi tellus. Aliquam fermentum, nulla at porttitor
      gravida, sapien libero sollicitudin quam, in porttitor libero elit in mi.
      Vestibulum tincidunt ornare ante, sit amet vestibulum purus hendrerit id.
      Sed vel dolor vitae erat blandit vulputate nec id metus. Mauris lacinia
      volutpat lacus ac gravida. Aenean volutpat nibh vitae orci iaculis
      ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos.
    </h3>
  </div>
  {% endblock %}
</div>
